 html body{
    height: 100vh;
}

body{ 
    background-image: url("https://images.pexels.com/photos/4968385/pexels-photo-4968385.jpeg"); 
    background-size: cover;  
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}

div{  
    max-width: 70%; 
    margin:70px auto;
    border: 2px solid black; 
    border-radius: 40px; 
    background-color: beige;  
}

h1{ 
    margin: 10px auto;
}

h2{
    font-size: 50px; 
    margin: 0 auto 20px ;
}

button{
    display: block; 
    margin: 5px auto; 
    padding: 10px;  
    width: 200px; 
    border: 2px solid black; 
    border-radius: 10px; 
    font-weight: bold; 
}

#increment-btn{
    background-color: aqua;
}

#save-btn{
    background-color: rgb(10, 173, 81);
}

p{ 
    font-size: 20px; 
    font-style: italic;
}