html, body {
  width: 400px;         
  margin: 0;
  padding: 12px;         
  box-sizing: border-box;
}

* { box-sizing: inherit; }

body{
    padding:30px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

#input-el{
    width: 100%;
    margin-bottom: 6px;
    border: 1px solid rgb(17, 17, 16);
    padding: 10px;
}

button{
    background-color:#5f9341 ;
    font-weight: bold;
    color: white;
    height: 40px;
    border: none;
    width: 100%;
}

ul{
    padding: 0;
    list-style: none;
}

li{
    margin-top: 10px;
}

li a{
    color: #5f9341;
}